
<div class="card border-primary mb-3">
    <div class="card-header">
        <h3 class="text-center">Registro de Pagos</h3>
    </div>

    <div class="card-body">
        <!-- <form action="/pagos/add" method="POST"> -->
        <form (ngSubmit)="print()" [formGroup]="formAddPay">
            <div class="input-group mb-3">
                <select class="form-select" formControlName="container" [(ngModel)]="model.container">
                    <option selected value="">Seleccionar Cliente</option>
                    <option *ngFor= "let ctner of dataSource;" [value]="ctner._id">
                        {{ctner.id_container}}. {{ctner.rented_by}}
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> Importe</span>
                <input type="number" class="form-control" placeholder="0.00" [(ngModel)]="model.value"
                    formControlName="value" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> Recibo N°</span>
                <input type="text" class="form-control" placeholder="000" [(ngModel)]="model.recibo_n"
                    formControlName="recibo_n">
            </div>
            <button class="btn btn-block btn-primary" [disabled]="!formAddPay.valid" type="submit" id="btn-addpay">ACEPTAR</button>

        </form>
    </div>
</div>
{{model|json}}

<table mat-table [dataSource]="dts" style="min-width: 30rem;" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="paid_at">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element" align="left"> {{element.paid_at}} </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Importe </th>
      <td mat-cell *matCellDef="let element" align="right" > $ {{element.value}}.- </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="recibo_n">
      <th mat-header-cell *matHeaderCellDef align="right"> Recibo N° </th>
      <td mat-cell *matCellDef="let element" align="right"> R. 0{{element.recibo_n}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  

<div>
    <div class="card border-warning">
        <div class="card-header">
            <h5 class="text-center text-warning">Registrar nuevo periodo</h5>
        </div>
        <div class="card-body">
            <!-- 
                <form action="/deuda/charge" method="GET">
                    <div class="input-group mb-3">
                        <select formControlName="per" class="form-select" id="period">
                            <option selected>Elegir Periodo</option>
                            <% let array_meses=process.env.STR_MESES.split(','); 
                                for(var i=0; i< array_meses.length; i++) { %>
                                <option value="<%= array_meses[i] %>">
                                    <%= array_meses[i] %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <button class="btn btn-block btn-outline-warning" type="submit"
                        id="btn-deudacharge">NUEVO PERIODO</button>

            </div>
            </form> 
        -->
        </div>
    </div>