<div class="card border-primary mb-3">
    <div class="card-header">
        <h5 class="text-center text-primary">Registro de Pagos</h5>
    </div>

    <div class="card-body">
        <!-- <form action="/pagos/add" method="POST"> -->
        <form (ngSubmit)="print()" [formGroup]="formSelect">
            <div class="input-group mb-3">
                <select class="form-select" formControlName="container" [(ngModel)]="model.container">
                    <option selected value="">Seleccionar Cliente</option>
                    <option *ngFor="let ctner of dataSource;" [value]="ctner._id">
                        {{ctner.id_container}}. {{ctner.rented_by}}
                    </option>
                </select>
            </div>
            <button class="btn btn-block btn-primary" [disabled]="!formSelect.valid" type="submit"
                id="btn-select">MOSTRAR</button>
        </form>
    </div>

</div>
<div class="card border-primary mb-3" [hidden]="this.readonly" >
        
    <div class="card-header">
        <h5 class="text-center text-primary"> Ingresar Nuevo Pago</h5>
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="formAddPayment">

            <!-- <div class="input-group mb-3">
                <span class="input-group-text"> Cliente</span>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="model.client"
                    formControlName="client" [readonly]="true" [value]="this.clientname" required>
            </div> -->
            <div class="input-group mb-3">
                <span class="input-group-text"> Importe</span>
                <input type="number" class="form-control" placeholder="0.00" [(ngModel)]="model.value"
                    formControlName="value" [readonly]="this.readonly" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"> Recibo N°</span>
                <input type="text" class="form-control" placeholder="000" [(ngModel)]="model.recibo_n"
                    formControlName="recibo_n" [readonly]="this.readonly" >
            </div>
            <button class="btn btn-block btn-info" [disabled]="!formAddPayment.valid" type="submit"
                id="btn-addpay">AGREGAR PAGO</button>

        </form>
    </div>

</div>

{{model|json}}

<div>
    <div class="card border-warning">
        <div class="card-header">
            <h5 class="text-center text-warning">Registrar nuevo periodo</h5>
        </div>
        <div class="card-body">
            <!-- 
                <form action="/deuda/charge" method="GET">
                    <div class="input-group mb-3">
                        <select formControlName="per" class="form-select" id="period">
                            <option selected>Elegir Periodo</option>
                            <% let array_meses=process.env.STR_MESES.split(','); 
                                for(var i=0; i< array_meses.length; i++) { %>
                                <option value="<%= array_meses[i] %>">
                                    <%= array_meses[i] %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <button class="btn btn-block btn-outline-warning" type="submit"
                        id="btn-deudacharge">NUEVO PERIODO</button>

            </div>
            </form> 
        -->
        </div>
    </div>