
<div class="card">
    <div class="card-header">
        <h3 class="text-center">Agregar nuevo cliente</h3>
    </div>
    <div class="card-body">
        <form action="/containers/add" method="POST">
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default" name="id_container">
                    <option selected>Elegir Contenedor</option>
                    <option *ngFor="let item of dataSource; index as i" value={{item.id_container}}>
                        Container Number {{item.id_container}}
                    </option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Cliente: </span>
                <input type="text" class="form-control" placeholder="Apellido, Nombre" name="rented_by">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Importe $</span>
                <input type="number" class="form-control" placeholder="0.00" step="1" name="price_tocharge">
            </div>
            <button class="btn btn-block btn-primary" type="submit" id="btn-addctdor">ACEPTAR</button>

        </form>
    </div>
</div>